html {
    font-size: 100%;
}
body {
    font-family: Century Gothic;
    margin: 0;
}
header {
    display: flex;
    justify-content: right;
}
h3 {
    margin: 0;
    padding: 0.3125rem;
}
main {
    text-align: center;
    padding: 90px;
    background: #ffffff;
}